body {
  font-family: sans-serif;
  font-size: 11pt;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a img {
  border: 0;
}

ul, ol {
  margin: 0;
  padding: 0 0 0 8px;
}

ul, ol, li {
  list-style: none;
}



