<section id="footer-credit">
  <ul>
    <li>&copy; {{ "now" | date('Y') }}, Theme module for Kohana by <a href="http://0x59.net" target="_blank">Yehuda Deutsch</a></li>
    <li>
      Theme license:
      <a rel="license" href="" title="MIT License">MIT</a>
    </li>
    <li>
      Content license:
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/il/deed.en_US" target="_blank">
        <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.5/il/80x15.png">
      </a>
    </li>
  </ul>
</section>